* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.directCash,
th.directCash {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}
td.DonerName,
th.DonerName {
    width: 75px;
    max-width: 75px;
    word-break: break-all;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

#roomUserText {
    width: 100%;
    text-align: right;
}

#roomStats {
    width: 100%;
    text-align: right;
}

#roomStats b {
    margin-right: 20px;
}

.splitchattable, .splitstatetable {
    width: 100%;
}

.splitstatetable td {
    width: 50%;
}

.containerheader {
    text-align: center;
}

.chatcontainer, .giftcontainer {
    overflow-y: scroll;
    height: calc(100vh - 240px);
    word-wrap: break-word;
}

.chatcontainer {
    min-width: 100px;
    max-width: calc(100vw - 430px);
}

.giftcontainer {
    min-width: 100px;
}

.miniprofilepicture {
    height: 20px;
    width: 20px;
}

.gifticon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
